
@font-face{
    font-family: Precious;
    src: url("../fonts/Precious.ttf");
}

.header{
    border-bottom: 1px solid black;
    width:100%;
    overflow:hidden;
    padding:10px;
}

#allyName{
    text-align:center;
    font-size:2em;
    font-family:Precious;
}